*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}


body{
    width: 100%;
    height: 100vh;
    background-image: url("../img/fundo_computador.jpg");
    background-size: cover;
    color: #FFF;
}

.data_horario{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    padding-bottom: 3rem;
    padding-left: 2rem;
}

.horario{
    font-size: 12rem;
}

.data{
    font-size: 4rem;
}

.fundo-opaco{
    opacity: 100%;
}

.principal_sobre_mim_imagem_Carlos{
    border-radius: 360px;
    width: 20rem;
    
}

.login{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding-top: 10% ;
    align-items: center;
    justify-content: center;
    padding: 20%;
}

.login input{
    width: 60%;
}

.login button{
    font-size: 2.5rem;
    width: 50%;
}

@media(max-width:500px){
    .login button{
        width: 80%;
    }
    .login input{
        width: 90%;
    }
    .data_horario{
        justify-content: start;
        align-items:center;
        padding: 2%;
    }
    .horario{
        font-size: 7rem;
    }
    .data{
        font-size: 3rem;
    }
}