:root{
    --hover-color: yellow;
    --hover-weight: 700;   
}
html{
    font-size: 62,5%;
}

.cabecalho,.projetos{
    background-image: url(../img/imagem_fundo_cabecalho.avif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 2.5%;
}
.cabecalho-scroll{
    position: fixed;
    background-image: none;
}

.menu-sanduiche{
    display: none;
}
.cabecalho_lista_item_ancora{
    color: #FFF;
    font-size: 1.5rem;
}

.cabecalho_lista_item_ancora:hover{
    color:var(--hover-color);
    font-weight: var(--hover-weight);

}
.principal_sobre_mim{
    color: #FFF;
    background-image: url(../img/fundo-principal.jpg); 
    background-repeat: no-repeat;
    background-size: 100% 100%;   
    
}

.principal_sobre_mim_imagem_Carlos{
    border-radius: 360px;
    width: 15rem;
}

.tecnologias-x,.projetos-x{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    padding: 2.5%;
    color: #FFF;
}

.tecnologia,.projeto{
    max-width: 300px;
    border: #000 2px solid;
    padding: 3% 3% 1% 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tecnologia img{
    margin-bottom: 10%;
}

.imagem-tecnologias{
    height: 200px;
    width: 200px;
}
.projeto{
    max-width: 35rem;
    padding: 1%;
}
.video-projeto{
    width: 100%;
}
.contato{
    background-image: url("../img/fundo-principal.jpg");
}
.contato img{
    width: 48px;
    height: 48px;
}
.contato a:hover{
    color: var(--hover-color);
}
.list-none{
    list-style: none;
}

.g30{
    gap: 30px;
}
.g50{
    gap: 50px;
}

@media(max-width:700px){
    .cabecalho{
        flex-direction: column;
        padding: 0 0 15% 0;
    }
    .cabecalho-inicio{
        display: flex;
        background-image: url(../img/fundo-principal.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 2.5%;
        align-items: center;
    }
    .cabecalho{
        padding: 0;
    }
    .cabecalho_lista{
        flex-direction: column;
    }
    .navegacao-desativada{
        display: none;
    }
    .menu-sanduiche{
        display: inline;
    }

    @media(max-width:400px){
        .cabecalho-inicio{
            flex-direction: column;
        }
    }
}